language: node_js
node_js:
  - "stable"
cache:
  directories:
    - "node_modules"
install:
  - npm install
services:
  - postgresql
env:
  global:
    - NODE_ENV=test
    - JWT_SECRET=prhhh
before_script:
  - psql -c 'create database banka;' -U postgres
  - psql -c "CREATE USER codepreneur WITH PASSWORD null;" -U postgres
  - npm run build
script:
  - npm test
after_success:
  - npm run coverage
