@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");

:root {
  --primary-blue: #0c4bef;
  --accent-yellow: #fbb416;
  --danger-red: #ff3d3d;
  --success-green: #13ce03;
  --light-grey: #a0a0a0;
  --dark-grey: #333333;
  --input-color: #dae5f7;
}

/*border box alows us to add padding and border to our elemets without increasing their size */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*We inherit box-sizing: border-box from <html> selector 
as this will give us more felexibility of using other box sizing value(box-padding,
content-box) with worry about universal selector overriding our CSS
*:after, *:before caters for pseodo element box-sizing*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(3, auto);
}

.top-banner {
  /* background: var(--primary-blue) url("../img/top-banner-img.svg") no-repeat
    center center fixed; */
  background: var(--primary-blue) url("../img/top-banner-img.svg") no-repeat;
  background-size: cover;
  padding: 0 2rem 0 5rem;
  display: flex;
  flex-flow: column nowrap;
}

button {
  padding: 0.9rem 2.5rem;
  border: 0;
  color: white;
  background: var(--accent-yellow);
  font-size: 14px;
  font-weight: 400;
  border-radius: 50px;
  margin: 1rem 0;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

h1 {
  font-weight: 700;
  color: white;
  font-size: 50px;
  max-width: 45%;
  margin-top: 5rem;
  margin-bottom: 11rem;
  line-height: 70px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

header .logo {
  width: 90px;
  height: auto;
}

nav {
  color: white;
}

nav a {
  margin: 0 1.5rem;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}

/**
easy banking section
**/

.achievement-section {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.achievement {
  background: white;
  border-radius: 5px;
  padding: 1.5rem 4rem 1.5rem 1.5rem;
  display: flex;
  margin-right: 1.5rem;
  box-shadow: 12px 12px 22px 1px rgba(146, 146, 146, 0.2);
}

.achievement img {
  height: 80px;
  width: 80px;
  margin-right: 1rem;
}

.achievement h4 {
  font-size: 2.7rem;
  color: var(--dark-grey);
  text-align: left;
}

.achievement p {
  font-size: 1rem;
  color: var(--light-grey);
  text-align: start;
  text-align: left;
}

.easy-banking-section {
  text-align: center;
  padding: 0 10rem 7rem 10rem;
}

h2 {
  font-size: 2rem;
  color: var(--dark-grey);
  margin-bottom: 1rem;
  text-align: center;
}

.easy-banking-section {
  color: var(--light-grey);
}

.create-account-section {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 2rem 0;
}

.create-account-section h5 {
  font-size: 1.1rem;
  color: var(--dark-grey);
  margin-right: 1.5rem;
  align-self: center;
}

/**
services section
**/

.services h2{
  padding-top: 3rem;
  padding-bottom: 2rem
}

.actions-section {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;

}

.actions-section > :first-child {
  background: var(--primary-blue) url("../img/open-account-bg.svg") no-repeat;
}

.actions-section > :nth-child(2) {
  background: var(--primary-blue) url("../img/view-transaction-bg.svg")
    no-repeat;
}

.actions-section > :nth-child(3) {
  background: var(--primary-blue) url("../img/internet-support-bg.svg")
    no-repeat;
}

.action {
  border-radius: 5px;
  padding: 1.5rem 4rem 1.5rem 1.5rem;
  display: flex;
  justify-items: flex-start;
  flex-flow: column nowrap;
  margin-right: 1.5rem;
  box-shadow: 12px 12px 22px 1px rgba(146, 146, 146, 0.2);
  color: white;
  max-width: 300px;
}

.action img {
  height: 65px;
  width: 65px;
}

.action h4 {
  font-size: 1.5rem;
  margin-top: 10px;
}

/**
modals
**/
.modal {
  display: none;
  position: fixed;
  z-index: 1000000;
  padding-top: 90px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.4);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 11px 0;
  border: 1px solid var(--input-color);
  outline: none;
  font-size: 14px;
  border-radius: 3px;
}

.onboarding-modal {
  background-color: white;
  padding: 40px 40px 50px 40px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  width: 320px;
  text-align: center;
  float: right;
  margin-right: 3rem;
}

.onboarding-modal button {
  padding: 0.9rem 2.5rem;
  border: 0;
  color: white;
  background: var(--primary-blue);
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  margin: 1rem 0;
  text-transform: uppercase;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.onboarding-modal img {
  height: auto;
  width: 80px;
  margin-bottom: 1.3rem;
}

.onboarding-modal p {
  font-size: 14px;
  margin-top: 10px;
}

.onboarding-modal a {
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-grey);
}

.ct-select-group {
  height: 44px;
  margin-bottom: 15px;
  position: relative;
}

.ct-select-group .ct-select {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  color: #4f4f4f;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #dae5f7;
  border-radius: 3px;
  outline: none;
}
.ct-select-group .ct-select option {
  font-size: 18px;
  background: #fff;
}
.ct-select-group:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 44px;
  width: calc(100% - 64px);
  background: transparent;
  z-index: 0;
}
.ct-select-group:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  background-image: url(../img/arrow-drop-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

/**stop scrolling
**/
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {

  header .logo{
    width:70px
  }
  h1{
    font-size:2.1rem;
    line-height: 55px;
    max-width: 100%;
    margin-top:4rem;
    margin-bottom: 8rem;
  }
  .top-banner{
    padding: 0 1rem 0 1.8rem;
  }

  nav a{
    margin: 0 0.9rem;
    font-size: 14px;
    font-weight: 600;
  }

  .achievement-section{
    flex-flow: column nowrap;
    margin-top: -7rem !important;
  }
  .achievement {
    margin-top:0.5rem;
    margin-right: 0px;
  }

  .easy-banking-section{
    padding: 2rem 3rem ;
  }

  .easy-banking-section p{
    font-size: 0.8rem;
  }

  h2{
    font-size: 1.5rem;
  }

  .create-account-section{
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
  }

  .create-account-section h5{
    margin-right: 0;
  }

  button{
   display: inline-block;
   width:11rem;
   text-align: center;
  }

  .actions-section{
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    padding-bottom: rem;
  }

  .action{
    margin-top:1rem;
    margin-right:0;
    height: 12rem;
    text-align: start
  }

  .services h2 {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
  }
}
